body {
    background-color: rgb(201, 55, 120);
    text-align: center;
    padding: 50px;
}

button {
    height: 30px;
    width: auto;
    border-radius: 5px;
}

button:hover {
    background: rgb(193, 41, 207);
    transition: 1.3s;
}

h1 {
    font-size: 80px;
    background: linear-gradient(rgb(194, 171, 43), rgb(65, 172, 110));
}