body {
    background-color: rgb(201, 55, 120);
    text-align: center;
    padding: 50px;
}

button {
    height: 30px;
    width: auto;
    border-radius: 5px;
}

button:hover {
    background: rgb(193, 41, 207);
    transition: 1.3s;
}

.player-class {
    background-color:blue;

}

h2.computer-class {
    color:red;

}