body {
    background-color: rgb(196, 37, 109);
    text-align: center;
    padding: 50px;
}

button {
    height: 30px;
    width: auto;
    border-radius: 5px;
}

button:hover {
    background: rgb(188, 32, 202);
    transition: 1.3s;
}

.player-class {
    background-color:blue;

}

h2.computer-class {
    color:red;

}